<html>
<head>
    <title>MoVR</title>
    <link rel="stylesheet" type="text/css" href="/static/editor/css/semantic/button.css">
    <link rel="stylesheet" type="text/css" href="/static/editor/css/semantic/segment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/editor/css/roomlist.css">

    <!--
    <script>
        document.getElementById("hideButton").addEventListener('click', function( event ){
            main.style.display = 'none';
        }, false);
    </script>
    -->
</head>

<body>
    <!--
    <button id="hideButton" class="fluid ui grey button" tabindex="0">Hide</button>
    -->
	
	<i id="crosshair" class="fa fa-crosshairs"></i>
	
    <div id="blocker">
	
		<div id="mainMenu" class="menu">
			
			<div class="header">
				{% if not user.username %}
				You are not logged in.
				{% else %}
				{{ user.username }}'s rooms
				{% endif %}
			</div>
		
			<div id="roomslist" class="list container">
				<div class="ui segment">
					<ul id="roomslistUL">
				</div>
			</div>

			<div class="rightbar">
				<button id="addroomBtn" class="fluid ui animated green icon button" tabindex="0">
					<div class="visible content"><i class="fa fa-plus"></i></div>
					<div class="hidden content">Add Room</div>
				</button>
				<button id="deleteroomBtn" class="fluid ui animated red icon button" tabindex="0">
					<div class="visible content"><i class="fa fa-remove"></i></div>
					<div class="hidden content">Delete Room</div>
				</button> 
				<button id="copyroomBtn" class="fluid ui animated blue icon button" tabindex="0">
					<div class="visible content"><i class="fa fa-copy"></i></div>
					<div class="hidden content">Duplicate Room</div>
				</button>
				{% if user.username %}
				<a class="blanklink" href="/logoutAttempt/"><button id="logoutBtn" class="fluid ui grey button" tabindex="0">Log out</button></a>
				{% else %}
				<a class="blanklink" href="/login/"><button id="logoutBtn" class="fluid ui grey button" tabindex="0">Login</button></a>
				<a class="blanklink" href="/register/"><button id="logoutBtn" class="fluid ui grey button" tabindex="0">Register</button></a>
				{% endif %}

				<div id="debugButtons">
					<button id="helpBtn" type="button">Click to see the help screen</button>
					<br/>
					<button id="furnitureBtn" type="button">View the furniture menu</button> 
					<br/>
					<button id="mainMenuBtn" type="button">View the main menu</button>
				</div>
			</div>
		</div>
		
		<div id="furnitureMenu" class="menu">
			<div class="header">
				Available Furniture
			</div>
			<div id="furniturelist" class="list container">
				<div class="ui segment">
					<ul id="furniturelistUL">
				</div>
			</div>
			
			<div class="rightbar">
				<button id="exitFurnitureMenuBtn" class="fluid ui animated green icon button" tabindex="0">
					<div class="visible content"><i class="fa fa-remove"></i></div>
					<div class="hidden content">Exit This Menu</div>
				</button>
				<button id="leaveroomBtn" class="fluid ui animated red icon button" tabindex="0">
					<div class="visible content"><i class="fa fa-remove"></i></div>
					<div class="hidden content">Exit This Room</div>
				</button> 
				<button id="changescaleBtn" class="fluid ui animated blue icon button" tabindex="0">
					<div class="visible content">Scale</div>
					<div class="hidden content">Change furniture dimensions</div>
				</button> 
			</div>
		</div>

		<div id="helpMenu" class="menu">
			Welcome to the Help Menu! There is lots of information here to help you use our application!
		</div>
		
		<div id="inputMenu" class="menu">
			<!-- this will get filled in by whatever needs to get input -->
		</div>
    </div>
	
	<form action="" method="post">{% csrf_token %}</form>
	
	<script src="/static/editor/js/three.js"></script>
	<script src="/static/editor/js/PointerLockControls.js"></script>
	<script src="/static/editor/js/Util.js"></script>
	<script src="/static/editor/js/Scene.js"></script>
	<script src="/static/editor/js/DemoScene.js"></script>
	<script src="/static/editor/js/InputManager.js"></script>
	<script src="/static/editor/js/MenuManager.js"></script>
	<script src="/static/editor/js/FurnitureManager.js"></script>	
	<script src="/static/editor/js/RoomManager.js"></script>
	<script src="/static/editor/js/OBJLoader.js"></script>
	<script src="/static/editor/js/Room.js"></script>
	<script src="/static/editor/js/Furniture.js"></script>
	
	<script>
		var userId = {{ user.pk }};
		var scene = new DesktopScene();
		var inputManager = new InputManager('inputMenu');
		var menuManager = new MenuManager(scene, inputManager);
		var furnitureManager = new FurnitureManager('furniturelistUL', scene, menuManager);
		var roomManager = new RoomManager('roomslistUL', 'addroomBtn', 'copyroomBtn', 'deleteroomBtn', userId, 'authorized', scene, menuManager);
		furnitureManager.update();
		roomManager.update();
		
		menuManager.addMenu('mainMenu');
		menuManager.addMenu('furnitureMenu');
		menuManager.addMenu('helpMenu');
		menuManager.addMenu('inputMenu');
		menuManager.registerNavBtn('mainMenu', 'mainMenuBtn');
		menuManager.registerNavBtn('furnitureMenu', 'furnitureBtn');
		menuManager.registerNavBtn('helpMenu', 'helpBtn');
		menuManager.registerNavBtn('mainMenu', 'leaveroomBtn');
		//JMIL: these next 2 are temporary, until we get the actual functionality going
		menuManager.registerNavBtn('mainMenu', 'helpMenu');
		
		document.getElementById('exitFurnitureMenuBtn').addEventListener('click', menuManager.startApp, true);
		
		menuManager.hideAll();
		menuManager.switchMenu('mainMenu');
	</script>
</body>
</html>
