<html>
<head>
    <title>MoVR - Login</title>
    <link rel="stylesheet" type="text/css" href="/static/editor/css/login.css">
</head>

<body>
    <form action="{% url 'editor:loginAttempt' %}" method="post">
        {% csrf_token %}
        <h1>Login to MoVR</h1><br>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Log in">
        <div class="links">
            Don't have an account?  <a href="/register/">Register here.</a><br>
            Forgot your password?  For the moment you're out of luck.
        </div>
    </form>
</body>
</html>
