<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MoVR Mobile</title>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1">
	</head>
	<body>
		<script src="/static/editor/js/three.js"></script>
		<script src="/static/editor/js/DeviceOrientationControls.js"></script>
		<script src="/static/editor/js/Scene.js"></script>
		<script src="/static/editor/js/MobileScene.js"></script>
	    <script src="/static/editor/js/OBJLoader.js"></script>
	    <script src="/static/editor/js/Room.js"></script>
	    <script src="/static/editor/js/Furniture.js"></script>
		<script>
			var scene = new MobileScene();	
			var canvas = scene.renderer.domElement;
			if ('webkitCancelFullScreen' in document){
				canvas.addEventListener('click', function( event ){
					if (document.webkitIsFullScreen){
						document.webkitCancelFullScreen();
					} else {
						canvas.webkitRequestFullScreen();
					}
				}, false);
			}
		</script>
	</body>
</html>
