<html>
<head>
    <title>MoVR - Register</title>
    <link rel="stylesheet" type="text/css" href="/static/editor/css/login.css">
</head>

<body>
    <form action="{% url 'editor:createUser' %}" method="post">
        {% csrf_token %}
        <h1>Register with MoVR</h1><br>
        Username:<br>
        <input type="text" name="username"><br>
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Register">
        <div class="links">
            Already registered?  <a href="/login/">Login here.</a>
        </div>
    </form>
</body>
</html>