<html>
<head>
    <title>MoVR - Register</title>
    <link rel="stylesheet" type="text/css" href="/static/editor/css/login.css">
</head>

<body>
    <form>
        <h1>Register with MoVR</h1><br>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Log in">
        <div class="links">
            Register <br>
            Forgot your password?
        </div>
    </form>
</body>
</html>
